* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
}


.paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}



/* header style starts */

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 120px 25px 120px;
    height: 100vh;
}


.header-detaits>h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.header-detaits>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}


/* featured section starts */


.featured-container {
    margin: 150px 200px 50px;

}



/* featured images style starts */

.featured-img-details {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    gap: 20px;
    text-decoration: underline;

}

.featured-img {
    border-radius: 300px 300px 0px 0px;
    padding: 30px;
    height: 450px;
    width: 350px;
}

#left-img {
    background: rgba(167, 33, 98, 0.15);
}

#middle-img {
    background: rgba(5, 151, 160, 0.15);
}

#right-img {
    background: rgba(71, 125, 17, 0.15);
}




/* hot deal styles start */


.hot-deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    padding: 100px 240px;
}

#deal-title {
    color: #E55473;
}


/* instagram section style starts */

.insta-container {
    margin: 100px 0px;
    padding: 0px 120px;
    text-align: center;
}

.insta-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.insta-images>img {
    height: 370px;
    width: 300px;
}



/* latest deals styles  */


.latest-deals-container {
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px 120px;
    border-radius: 5px;
    padding: 100px 0px;
    margin-bottom: 100px;
}

.subscribe>input {
    background-color: #FFFFFF;
    width: 500px;
    height: 70px;
    border: none;
    padding-left: 20px;
    border-radius: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}